
@{
    ViewBag.Title = "formulario";
}

<h2>formulario</h2>


<form action="../Home/Guardar" method="POST">
    Apellido: <input id="txtApellido" name="txtApellido" type="text" value="" />
    Nombre: <input id="txtNombre" name="txtNombre" type="text" value="" />;
    <input type="submit" value="Guardar" />
</form>
